{
    "presets": [
        "es2015"
    ],
    "env": {
        "commonjs": {
            "plugins": [
                ["transform-es2015-modules-commonjs", {
                    "loose": true
                }]
            ]
        },
        "umd": {
            "plugins": [
                ["transform-es2015-modules-umd", {
                    "globals": {
                        "extra": "listate.extra"
                    },
                    "exactGlobals": true,
                    "loose": true
                }]
            ]
        }
    },
    "sourceMaps": true
}
